html, body {
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.8em;
    color: lightblue;
    transition: all 0.3s;
}
a:visited {
    text-decoration: none;
    color: lightblue;
}
a:hover {
    color: blue;
    cursor: pointer;
}

.subnav {
    display: none;
    background-color: darkseagreen;
    width: 100%;
    height: 150px;
    position: fixed;
    opacity: 0.9;
    box-shadow: 2px 2px 2px black;
    z-index: 1;
}

.sub-tab-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    display: flex;
}

.sub-tab {
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-right: 20px;
}

.navbar {
    background-color: seagreen;
    color: lightblue;
    position: fixed;
    display: flex;
    flex-direction: row;
    line-height: 100px;
    width: 100%;
    z-index: 2;
    box-shadow: 2px 2px 2px black;
}

.navbar-title {
    font-size: 2em;
    flex: 10%;
}

.nav-tab {
    margin-right: 2%;
}

.nav-tab > span {
    flex: 10%;
}

.nav-tab > span {
    font-size: 1.8em;
}

.nav-tab > span:hover {
    cursor: default;
}

.nav-tab > form {
    flex: 10%;
}

.index-image-container, .footer-image-container {
    width: 100%;
    height: 450px;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.index-image-container {
   background-image: url("../images/harbor.jpg");
}

.footer-image-container {
    background-image: url("../images/pencar-seafood-grill.jpg");
}

.index-content {
    position: inherit;
    background-color: darkseagreen;
    color: white;
}

.render-body {
    height: 100px;
}