/*
--color variables--
blue: #177E89
darkblue: #084C61
red: #DB3A34
yellow: #FFC857
brown: #323031
*/

html, body {
    margin: 0;
    min-width: 1000px;
    background-color: #084C61;
    color: white;
}


a {
    text-decoration: none;
    font-size: 1.8em;
    color: #FFC857;
    transition: all 0.3s;
}
a:visited {
    text-decoration: none;
    color: #FFC857;
}
a:hover {
    color: #DB3A34;
    cursor: pointer;
}

.subnav {
    display: none;
    background-color: #FFC857;
    width: 100%;
    min-width: 1000px;
    height: 150px;
    position: fixed;
    opacity: 0.9;
    box-shadow: 2px 2px 2px #084C61;
    z-index: 1;
}

.sub-tab-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    display: flex;
}

.sub-tab {
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    margin-right: 20px;
}

.sub-tab > a {
    color: #323031;
}

.sub-tab > a:hover {
    color: #DB3A34;
}

.navbar {
    background-color: #323031;
    color: lightblue;
    position: fixed;
    display: flex;
    flex-direction: row;
    line-height: 100px;
    width: 100%;
    min-width: 1000px;
    z-index: 2;
    box-shadow: 2px 2px 2px #084C61;
}

.navbar-title {
    font-size: 2em;
    flex: 10%;
    margin-left: 15px;
}

.nav-tab {
    margin-right: 2%;
}

.nav-tab > span {
    flex: 10%;
}

.nav-tab > span {
    font-size: 1.8em;
}

.nav-tab > span:hover {
    cursor: pointer;
}

.nav-tab > form {
    flex: 10%;
    height: 100%;
}

.nav-tab > form > input {
    margin-top: 4px;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2em;
    padding: 0;
    transition: 0.3s all;
}

.nav-tab > form > input:hover {
    cursor: pointer;
    color: white;
}

.index-image-container, .footer-image-container {
    width: 100%;
    height: 700px;
    background-color: lightblue;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.index-image-container {
   background-image: url("../images/ships-in-harbor.jpg");
    filter: grayscale(90%) brightness(105%);
    transition: 0.5s all;
    background-attachment: fixed;
}

.index-image-container:hover {
   filter: grayscale(0%);
}

.footer-image-container {
    background-image: url("../images/pencar-seafood-grill.jpg");
}

.index-content {
    position: inherit;
    background: #084C61;
    color: white;
}

.render-body {
    height: 100px;
}

.content-push {
    height: 50px;
}

.center-content {
    text-align: center;
}