@using SonOfCod.ViewModels

@model LoginViewModel

<div class="content-push">

</div>
<div class="center-content">


    <h2>Log in with your account</h2>
    <form asp-controller="Account" asp-action="Login" method="post">

        <label>Email</label>
        <input name="Email" />

        <label>Password</label>
        <input type="password" name="Password" />

        <input type="submit" value="Log in" />
    </form>

</div>