@using SonOfCod.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
<form asp-controller="Account" asp-action="Register" method="post">
    <label>Email</label>
    <input name="Email" />

    <label>Password</label>
    <input type="password" name="Password" />

    <label>ConfirmPassword</label>
    <input type="password" name="ConfirmPassword" />

    <input type="submit" value="Register" />
</form>