<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
            crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <div>
        @Html.Partial("_Navbar")
        @Html.Partial("_SubNav")
        <div class="render-body">
        </div>
            @RenderBody()
    </div>
</body>
</html>
