<h2>I'm a navbar</h2>

@if (User.Identity.IsAuthenticated)
{
    <h2><a href="~/Admin/AdminPanel">@User.Identity.Name</a></h2>
    <form asp-controller="Account" asp-action="LogOff" method="post">
        <input type="submit" value="Sign Out" />
    </form>
}

@Html.ActionLink("Login", "Login")
@Html.ActionLink("Register a New Admin", "Register")