
<div class="navbar">
    <div class="navbar-title">
        <a href="/">Son of Cod</a>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="admin-tab" class="nav-tab">
            <span>@User.Identity.Name</span>
        </div>
        <div class="nav-tab">
            <form asp-controller="Account" asp-action="LogOff" method="post">
                <input type="submit" value="Sign Out" />
            </form>
        </div>
    }
    else
    {
        <div class="nav-tab">
            <a href="/Account/Login">Login</a>
        </div>
     }
</div>
