<div class="subnav">
    <div class="sub-tab-container">
        <div class="sub-tab">
            <a href="~/Account/Register">Add Admin</a>
        </div>
        <div class="sub-tab">
            <a href="~/Admin/MailingList">View Mailing List</a>
        </div>
    </div>
</div>
