<h2>Enroll</h2>

<h3>Join our seafood news!</h3>

<form asp-controller="Newsletter" asp-action="Enroll" method="post">
    <label>Name</label>
    <input name="Name"/>

    <label>Email</label>
    <input name="Email" />

    <input type="submit" />
</form>